<!-- Property binding -->
<h1>Welcome to {{ hotelName }}</h1>

<!-- children components for @ViewChild and @ViewChildren -->
<app-header></app-header>
<app-header></app-header>

<!-- Event binding -->
<button type="button" (click)="toggle()" class="btn btn-primary">Toggle</button>

<!-- Structural directives: *ngIf, *ngFor, *ngSwitch -->
<!-- Attribute directives: ngClass, ngStyle -->

<p>Rooms available: {{ rooms.availableRooms ?? 'No rooms' }}</p>

<h4>Fake JSON API: {{ totalBytes }} Bytes loaded</h4>

<!-- 
    <div *ngFor="let room of roomList | slice: 0:2">
        <p>{{ room | json }}</p>
    </div>
-->


<!-- parent-child relationship: data flow(properties, events) -->
<div *ngIf="selectedRoom">{{ selectedRoom | json }}</div>

<div>
    <button type="button" (click)="addRoom()">Add Room</button>
    <br>
    <button type="button" (click)="editRoom()">Edit Room</button>
</div>

<div *ngIf="!hideRooms">
    <app-rooms-list
        [roomList]="roomList"
        (selectedRoom)="selectRoom($event)"
        (deletedRoom)="deleteRoom($event)"
        [title]="title">
    </app-rooms-list>
</div>

<div [hidden]="hideRooms">
    <h3>Number of rooms in total:</h3>
    <p [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }" [innerText]="numberOfRooms"></p>
</div>
